*{
	margin: 0;
	padding: 0;
}
a{
	color: #181818;
	text-decoration: none;
}
.header-wrap{
	width: 100%;
	height: 80px;
}
.ad-wrap{
	width: 100%;
	height: 400px;
	background-image: url(../img/bg.jpg);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.ad-img-wrap{
	width: 60%;
	height: 60%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.nav-img1{
	width: 30%;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.nav-img2{
	width: 40%;
	height: 100%;
	margin-left: 100px;
	display: inline-block;
	vertical-align: middle;
}
.header{
	width: 63%;
	height: 80%;
	margin: 20px auto;
}
.img-wrap{
	height: 100%;
	width: 155px;
	display: inline-block;
}
.logo{
	width: 100%;
	display: inline-block;
}
.fl{
	float: left;
}
.inline{
	height: 100%;
	font-weight: bold;
	margin-left: 50px;
	display: inline-block;
}
.inline:hover{
	color: #de5d1c;
	border-top: 2px solid #de5d1c;
}
.active{
	color: #de5d1c;
	border-top: 2px solid #de5d1c;
}
.ad-wrap{
	width: 100%;
}
.main1{
	width: 75%;
	height: 400px;
	margin: 0 auto;
	padding-top: 50px;
	border-bottom: 2px solid #e0e0e0;
}
.margin{
	margin-left: 27px;
}
.main1-1{
	
}
.main1-1-1{
	width: 355px;
	height: 123px;
	border: 1px solid #e0e0e0;
	box-shadow: 5px 5px 5px #e0e0e0;
}
.con-main-wrap{
	width: 100%;
}
.con-main{
	width: 75%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.con-main>div:nth-child(1){
	color: black;
	font-weight: bold;
	font-size: 20px;
	margin-top: 90px;
}
.con-main>div:nth-child(2){
	width: 80%;
	margin-top: 45px;
	color: #A3A3A3;
	display: table;
	text-align: center;
}
.con-main>div:nth-child(3){
	width: 100%;
	margin-top: 45px;
	color: #A3A3A3;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.con-main-1>input:nth-child(1n){
	width: 368px;
	height: 50px;
	background-color: #ededed;
	border: none;
	border-radius: 5px;
	padding-left: 10px;
}
.content{
	width: 100%;
	height: 250px;
	margin-top: 25px;
	background-color: #ededed;
	border: none;
	border-radius: 5px;
	padding: 10px;
	box-sizing: border-box;
}
.btn{
	width: 225px;
	height: 55px;
	margin: 45px auto;
	background-color: red;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 5px;
}
.main6-wrap{
	width: 100%;
	height: 270px;
	background-color: #373737;
}
.main6{
	width: 75%;
	height: 100%;
	margin: 0 auto;
	padding-left: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	box-sizing: border-box;
}
.main6-1{
	width: 270px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start ;
	box-sizing: border-box;
}
.main6-1>div:nth-child(1){
	margin-top: 20px;
	color: white;
	font-size: 15px;
	font-weight: bold;
}
.main6-1>div:nth-child(4),.main6-1>div:nth-child(5){
	margin-top: 20px;
	color: #9b9ca1;
	font-size: 15px;
	font-weight: bold;
}
.main7-wrap{
	width: 100%;
	height: 55px;
	background-color: #232323;
}
.main7{
	width: 75%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}
.main7>div:nth-child(2){
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}